.container{
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

.container__item{
   margin: 10px;
   color: #FF6060;
}

.container__title{
 background-color: #FF6060;
 color: white;
 padding: 10px;
display: flex;
justify-content: space-between;
border-radius: 5px;
cursor: pointer;
}       

.container__arrow{
    transform: rotate(180deg);
}


.container__paragraph{
    background-color: #F6F6F6;
    height: 0 ;
    max-height: 0;
    position: relative;
    bottom: 10px;
    opacity: 0;
}

.container__paragraph__open{
    background-color: #F6F6F6;
    padding: 7px;
    margin: 10px;
    opacity: 1;
    height: 100% !important;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
}

.paragraph{
position: relative;
bottom: 5px;
}

@media(max-width:960px) {
    .container{
        width: 90%;
        margin-left: 3%;
        margin-top: -30px;
        margin-bottom: 10px;
        position: relative;
        top: 20px;
    }
}

@media(max-width:600px) {
    .container{
        margin: 0;
    }

    .propos-content{
        margin-bottom: 30px;
    }
}