.content-image {
    height: 100%;
    width: 102%;
    display: flex;
    position: relative;
    right: 30px;
}

.image {
    width: 1500px;
    height: 100%;
    border-radius: 25px;
}

.left-arrow {
    position: relative;
    left: 5%;
    top: 150px;
    height: 0;
    color: white;
    font-size: 100px;
    z-index: 1;
    cursor: pointer;
}

.right-arrow {
    position: relative;
    right: 5%;
    top: 150px;
    height: 0;
    color: white;
    font-size: 100px;
    z-index: 1;
    cursor: pointer;
}

.indexers {
    position: relative;
    right: 50%;
    top: 400px;
    height: 0;
    bottom: 50px;
    color: white;
}

@media(max-width: 960px) {
    .content-image{
        width: 105%;
    }
}

@media(max-width: 600px) {
    .content-image{
        width: 100%;
    }
}
